html, body {
  padding: 0;
  padding-top: 10;
  margin: 0;
  background-color: black;
}

hr {
  margin-left: 10;
  margin-right: 10;
}

.space {
  margin: 0;
  background-image: url("space.gif") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*background-color: black;*/
}

.bwa {
  height: 300px;
  width: 300px;
  background-image: url("file2.gif");
  background-size: 100%;
  border-radius: 20%;
  margin: 0 auto;
  color: black;
  text-align : center;
  line-height: 410px;
  font-size: 4.5em;
  margin-top: 04%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.horn {
  border-radius: 20%;
}

.count {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  color: white;
}

.reset {
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;
}

a.trill:link {
  margin: 0 auto;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  text-decoration: none;
}

a.trill:visited {
  margin: 0 auto;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  text-decoration: none;
}

a.trill:hover {
  margin: 0 auto;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  text-decoration: none;
}

a.trill:active {
  margin: 0 auto;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  text-decoration: none;
}

.trill {
  margin: 0 auto;
  font-family: helvetica;
  text-align: center;
  font-size: 25px;
}